{{#if this.displayTimeLineScrollArea}}
  <div class="timeline-date-wrapper">
    <a href class={{@class}} {{on "click" @onClick}}>
      <span>
        {{this.label}}
      </span>
    </a>
  </div>
{{/if}}
